<div id="background">

  <header id="cf">
    <div class="wrapper_wide">
      <a href="index.html" id="logo">Recipe.box</a>
      <nav>
        <ul>
          <li><a href="#">Explore</a></li>
          <li><a href="#">Sign In</a></li>
          <li><a href="#">Create a Recipe</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div id="wrapper_skinny">
    <h1>Add your awesome recipes<br>or create your own.</h1>
    <a href="#" class="button button_highlight">Create a Recipe List</a>
    <a href="#" class="button button_highlight">Explore</a>
  </div>
</div>